@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
    border: none;
}

p {
    color: #82809C;
}

li {
    list-style: none;
}

/* ====== header inicio ====== */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-navigation ul {
    display: flex;
    gap: 50px;
}

.header-navigation li {
    list-style: none;
}

.header-navigation a {
    color: #82809C;
    transition: ease 0.3s;
}

.header-navigation a:hover {
    opacity: 0.8;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: ease 0.3s;
}

.login-container:hover {
    opacity: 0.7;
}

.login-container span {
    color: #5712A6;
    font-weight: bold;
}

.header-login .signup-btn {
    border: solid 1px #88b5ff;
    color: #2678FA;
    padding: 6px 28px;
    border-radius: 6px;
    font-weight: bold;
    transition: ease 0.4s;
}

.header-login .signup-btn:hover {
    background-color: #2678FA;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #82809C;
    transition: transform 0.3s;
}


/* ====== header fim ====== */

main {
    display: flex !important;
    margin: 60px 0 160px 100px;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    width: 50%;
}


.main-content .main-title {
    color: #5712A6;
    font-size: 54px;
    font-weight: bold;
    margin: 0;
    width: 67%;
}

.main-content .main-description {
    color: #82809C;
    font-size: 24px;
    margin: 42px 0;
    width: 67%;

}

.main-content .main-btn {
    background: linear-gradient(to right, #5A4595, #26E0FA);
    color: #fff;
    width: 160px;
    height: 46px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 8px;
    transition: ease 0.6s;
    cursor: pointer;
}

.main-content .main-btn:hover {
    width: 180px;
}

.main-img {
    width: 600px;
}

.main-img img {
    width: 100%;
    animation: floatAnimation 4s infinite ease-in-out;
}

/* ====== main fim ====== */


.how-to-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 60px;
}

.how-to-start .title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
}

.line-container {
    background-color: #26E0FA;
    width: 120px;
    height: 12px;
    position: relative;
    overflow: hidden;
}

.line-container .small-line {
    width: 30%;
    height: 100%;
    background-color: #5712A6;
    position: absolute;
    animation: moveLine 4s linear infinite;
}


.how-to-start .title-container h2 {
    font-size: 32px;
    color: #5712A6;
}


.how-to-start-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 40px;
    width: 100%;
}

.how-to-start-container .hts-single {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 52px;
    width: 20%;
}

.how-to-start-container .hts-single img {
    transition: ease 0.4s;
}

.how-to-start-container .hts-single img:hover {
    transform: scale(1.1);
}

.how-to-start-container .hts-single .title {
    color: #5712A6;
    font-weight: bold;
    font-size: 26px;
}

.how-to-start-container .hts-single p {
    color: #82809C;
    font-size: 17px;
}


/* ====== how to start fim ====== */


.about-us {
    display: flex;
    align-items: center;
    margin: 160px 60px 0 0;
}

.about-us .img-container {
    width: 50%;
}

.about-us .img-container img {
    width: 100%;
}


.content-container {
    width: 50%;
}


.text-container {
    width: 100%;
    margin: 80px 0 40px 0;
}

.text-container p {
    font-size: 28px;
    padding: 6px 0;
    word-spacing: 8px
}

.text-container p:last-child {
    margin-top: 22px;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.link-container a {
    font-size: 22px;
    color: #2678FA;
    transition: ease 0.4s;
}

.link-container a:hover {
    opacity: 0.7;
}

/* ====== about-us fim ====== */


.services {
    display: flex;
    align-items: center;
    margin: 160px 0 0 120px;
    gap: 120px;
}

.services-content {
    width: 50%;
}

.services-content h3 {
    color: #5712A6;
    font-size: 38px;
    margin: 60px 0 80px 0;
}


.services-text p {
    font-size: 24px;
    padding: 6px 0;
}

.services-text .special-char-container {
    display: flex;
    gap: 6px;
    align-items: baseline;
    flex-wrap: wrap;
}

.services-text .special-char {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.services-text .special-char a {
    color: #5712A6;
    font-size: 22px;
    transition: ease 0.4s;
    font-weight: bold;
}

.services-text .special-char a:hover {
    opacity: 0.7;
}

.services-text .special-char img {
    width: 48px;
    height: 6px;
}

.services-text .link-container a {
    font-size: 22px;
    color: #2678FA;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: ease 0.4s;
}


.services-text .link-container a:hover {
    opacity: 0.7;
}

.services .img-container {
    width: 50%;
}

.services .img-container img {
    width: 100%;
    animation: floatAnimation 4s infinite ease-in-out;
}


/* ====== services fim ====== */


.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;
}


.download .background-download img {
    width: 100%;
}

.download-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 47%;
}

.download-container .download-text-container {
    margin: 50px 0;
}

.download-container P {
    color: #5712A6;
    font-size: 28px;
    font-weight: bold;
}

.download-container .btn-container {
    display: flex;
    gap: 28px;
}

.download-container .btn-container img {
    width: 150px;
    cursor: pointer;
}

/* ====== download fim ====== */


.register {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 160px auto;
    gap: 100px;

}

.register-single .container {
    display: flex;
    gap: 80px;
}

.register-single p {
    font-size: 38px;
    color: #5712A6;
    font-weight: bold;
}

.register .line-container {
    margin-top: 30px;
    width: 150px;
}


/* ====== register fim ====== */



footer {
    width: 100%;
    padding: 100px 100px 0 100px;
    background: url('/assets/img/fundo-footer-teste-programador.png.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 50px;
    width: 1200px;
    margin: 80px auto;
}

.footer-container .first-column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-container .first-column span {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: ease 0.4s;
}

.footer-container .first-column span:hover {
    opacity: 0.8;
}


.footer-container h4 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 32px;
}

.footer-container .column li {
    color: #fff;
    margin-top: 26px;
    transition: ease 0.4s;
    cursor: pointer;
}

.footer-container .column li:hover {
    opacity: 0.8;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    border-top: solid 1px #fff;
    padding: 32px 0;
    flex-wrap: wrap;
}

.footer-social span {
    color: #fff;
    font-weight: bold;
}

.footer-social .social-container {
    display: flex;
    gap: 26px;

}

.footer-social .social-container li {
    transition: ease 0.4s;
    cursor: pointer;
}

.footer-social .social-container li:hover {
    transform: scale(1.2);
}

.arrow-to-top {
    position: fixed;
    bottom: 4%;
    right: 2%;
    background-color: #26e0fa8f;
    color: #5712A6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: ease 0.4s;
}

.arrow-to-top:hover {
    background-color: #26e0fa;
}


/* ====== animations ====== */

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes moveLine {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: 70%;
    }
}


/* ====== media query ====== */

@media screen and (max-width: 1340px) {

    .footer-container,
    .footer-social {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .header-navigation {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50vw;
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
        transition: all 0.5s ease;
        background-color: #5712A6;
    }

    .header-navigation.active {
        right: 0;
        border-radius: 0;
    }

    .header-navigation ul {
        display: flex;
        flex-direction: column;
        gap: 44px;
        justify-content: center;
        align-items: center;
        padding: 44px 0;
    }

    .header-navigation li {
        list-style: none;
    }

    .header-navigation a {
        color: #fff;
    }

    .header-navigation.active {
        display: block;
        z-index: 1;
    }

    .header-login {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 32px;
        right: 20px;
        font-size: 24px;
        color: #82809C;
        z-index: 2;
    }

    .menu-icon.active {
        color: #fff;
    }

    .no-scroll {
        overflow: hidden;
    }

    .main-content .main-title {
        font-size: 44px;
    }

    .main-img {
        width: 450px;
    }
}

@media screen and (max-width: 1100px) {

    .main-content .main-title {
        width: 100%;
    }

    .main-content .main-description {
        width: 100%;
        font-size: 20px;
    }

    .about-us {
        margin: 160px 20px 0 0;
    }

    .about-us .text-container p,
    .content-container a {
        font-size: 22px;
    }


    .services {
        margin: 160px 0 0 80px;
    }

    .services-text p,
    .services-text .special-char a,
    .services-text .link-container a {
        font-size: 18px;
    }

    .services-text .special-char img {
        width: 43px;
    }

    .services .img-container {
        width: 500px;
    }

    .register {
        gap: 50px;
    }

    .register-single p {
        font-size: 28px;
    }

    .register .arrow-img {
        width: 50px;
    }
}

@media screen and (max-width: 950px) {
    header {
        margin: 20px 50px;
    }

    main {
        margin: 60px 0 160px 50px;
    }

    .main-content {
        width: 100%;
        margin-right: 60px;
    }

    .main-img {
        display: none;
    }

    .main-content .main-title {
        font-size: 55px;
    }

    .main-content .main-description {
        font-size: 26px;
    }


    .how-to-start-container {
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }

    .how-to-start-container .hts-single {
        width: 100%;
        align-items: center;
    }

    .how-to-start-container .hts-single img {
        width: 330px;
    }

    .how-to-start-container .hts-single .title {
        font-size: 36px;
    }

    .how-to-start-container .hts-single p {
        font-size: 24px;
    }

    .about-us {
        margin: 160px 50px;
    }

    .about-us .img-container {
        display: none;
    }

    .content-container {
        width: 100%;
    }

    .about-us .text-container p,
    .content-container a {
        font-size: 26px;
    }

    .services {
        margin: 160px 50px;
        text-align: right;
    }

    .services .img-container {
        display: none;
    }

    .services-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .services-content h3 {
        font-size: 38px;
    }

    .services-text .special-char-container {
        justify-content: right;
    }

    .services-text p,
    .services-text .special-char a,
    .services-text .link-container {
        font-size: 22px;
        display: flex;
        justify-content: right;
    }

    .download-container {
        left: 42%;
    }

    .download-container P {
        font-size: 22px;
    }

    .download-container .btn-container img {
        width: 120px;
    }

    footer {
        padding: 50px 50px 0 50px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 50px;
        width: 100%;
        margin: 80px auto;
        justify-items: center;
    }
}

@media screen and (max-width: 780px) {
    .register {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .register .arrow-img {
        width: 50px;
    }

    .register .line-container {
        width: 100%;
    }

    .register-single p {
        font-size: 34px;
    }
}

@media screen and (max-width: 680px) {
    header {
        margin: 20px;
    }

    main {
        margin: 60px 0 160px 20px;
    }

    .main-content .main-title {
        font-size: 42px;
    }

    .main-content .main-description,
    .how-to-start-container .hts-single p {
        font-size: 22px;
    }

    .about-us,
    .services {
        margin: 160px 20px;
    }

    .about-us .text-container p,
    .content-container a {
        font-size: 22px;
    }

    .services-content h3 {
        font-size: 34px;
    }

    .download-container p {
        font-size: 16px;
    }

    .download-container .btn-container img {
        width: 70px;
    }

    .download-container .download-text-container {
        margin: 30px 0;
    }

    .download-container .line-container {
        height: 8px;
    }

    .register-single p {
        font-size: 28px
    }

    .footer-social {
        gap: 22px;
    }

    .footer-social span {
        font-size: 14px;
    }

    .footer-social {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 520px) {

    .main-content .main-title {
        font-size: 38px;
    }

    .services-content h3 {
        font-size: 28px;
    }

    .how-to-start .title-container h2 {
        font-size: 28px;
    }

    .how-to-start-container .hts-single .title {
        font-size: 26px;
    }

    .download-container p {
        font-size: 12px;
    }

    .download-container .line-container {
        width: 80px;
    }

    .download-container .btn-container {
        gap: 15px;
    }

    .download-container .btn-container img {
        width: 50px;
    }

    .download-container .download-text-container {
        margin: 18px 0;
    }

    .register-single p {
        font-size: 24px;
    }

    .register-single .container {
        gap: 38px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 50px;
    }

    .footer-container .footer-logo {
        width: 130px;
    }

    .footer-container h4 {
        font-size: 24px;
    }

    .footer-container .first-column span {
        font-size: 14px;
    }

    .footer-container .column li {
        font-size: 14px;
    }


}

@media screen and (max-width: 450px) {
    .how-to-start-container .hts-single img {
        width: 280px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        justify-items: flex-start;
    }

    .footer-container .footer-logo {
        width: 100px;
    }

    .footer-container h4 {
        font-size: 18px;
    }

    .footer-container .column li {
        font-size: 12px;
    }
}

@media screen and (max-width: 382px) {
    .header-content .logo-container .logo {
        width: 140px;
    }

    .menu-icon {
        top: 27px;
    }

    .main-content .main-title {
        font-size: 34px;
    }

    .main-content .main-description,
    .how-to-start-container .hts-single p {
        font-size: 18px;
    }

    .main-content .main-btn {
        width: 120px;
        font-size: 16px;
    }

    .how-to-start .title-container {
        align-items: center;
    }

    .how-to-start .title-container {
        text-align: center;
    }

    .about-us .text-container p,
    .content-container a,
    .services-text p,
    .services-text .special-char a,
    .services-text .link-container a {
        font-size: 18px;
    }

    .register .arrow-img {
        width: 40px;
    }

    .register .line-container {
        height: 8px;
    }
}

@media screen and (max-width: 350px) {
    .download .background-download img {
        height: 25vh;
        object-fit: cover;
    }
}