* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
    border: none;
}

/* ====== header inicio ====== */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-navigation ul {
    display: flex;
    gap: 50px;
}

.header-navigation li {
    list-style: none;
}

.header-navigation a {
    color: #82809C;
    transition: ease 0.3s;
}

.header-navigation a:hover {
    opacity: 0.8;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: ease 0.3s;
}

.login-container:hover {
    opacity: 0.7;
}

.login-container span {
    color: #5712A6;
    font-weight: bold;
}

.header-login .signup-btn {
    border: solid 1px #88b5ff;
    color: #2678FA;
    padding: 6px 28px;
    border-radius: 6px;
    font-weight: bold;
    transition: ease 0.4s;
}

.header-login .signup-btn:hover {
    background-color: #2678FA;
    color: #fff;
}

/* ====== header fim ====== */

main {
    display: flex;
    margin: 60px 0 0 100px;
    justify-content: space-between;
    align-items: center;
}


.main-content .main-title {
    color: #5712A6;
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

.main-content .main-description {
    color: #82809C;
    font-size: 18px;
    margin: 42px 0;
}

.main-content .main-btn {
    background: linear-gradient(to right, #5A4595, #26E0FA);
    color: #fff;
    width: 160px;
    height: 46px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 8px;
    transition: ease 0.6s;
    cursor: pointer;
}

.main-content .main-btn:hover {
    width: 180px;
}

.main-img {
    width: 600px;
    height: 600px;
}

.main-img img {
    width: 100%;
    animation: floatAnimation 4s infinite ease-in-out;
}

/* ====== main fim ====== */


.how-to-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
}

.how-to-start .title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
}


.how-to-start .title-container  .line-img {
  width: 120px;
  height: 12px;
  text-align: left;
}


.how-to-start .title-container h2 {
    font-size: 32px;
    color: #5712A6;
}


.how-to-start-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 40px;
    width: 100%;
}

.how-to-start-container .hts-single {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 52px;
    width: 20%;
}

.how-to-start-container .hts-single .title {
    color: #5712A6;
    font-weight: bold;
    font-size: 26px;
}

.how-to-start-container .hts-single p {
    color: #82809C;
    font-size: 17px;
}










/* ====== animations ====== */

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}