* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
    border: none;
}

p {
    color: #82809C;
}

li {
    list-style: none;
}

/* ====== header inicio ====== */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-navigation ul {
    display: flex;
    gap: 50px;
}

.header-navigation li {
    list-style: none;
}

.header-navigation a {
    color: #82809C;
    transition: ease 0.3s;
}

.header-navigation a:hover {
    opacity: 0.8;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: ease 0.3s;
}

.login-container:hover {
    opacity: 0.7;
}

.login-container span {
    color: #5712A6;
    font-weight: bold;
}

.header-login .signup-btn {
    border: solid 1px #88b5ff;
    color: #2678FA;
    padding: 6px 28px;
    border-radius: 6px;
    font-weight: bold;
    transition: ease 0.4s;
}

.header-login .signup-btn:hover {
    background-color: #2678FA;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #82809C;
    transition: transform 0.3s;
}


/* ====== header fim ====== */

main {
    display: flex;
    margin: 60px 0 0 100px;
    justify-content: space-between;
    align-items: center;
}


.main-content .main-title {
    color: #5712A6;
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

.main-content .main-description {
    color: #82809C;
    font-size: 18px;
    margin: 42px 0;
}

.main-content .main-btn {
    background: linear-gradient(to right, #5A4595, #26E0FA);
    color: #fff;
    width: 160px;
    height: 46px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 8px;
    transition: ease 0.6s;
    cursor: pointer;
}

.main-content .main-btn:hover {
    width: 180px;
}

.main-img {
    width: 600px;
    height: 600px;
}

.main-img img {
    width: 100%;
    animation: floatAnimation 4s infinite ease-in-out;
}

/* ====== main fim ====== */


.how-to-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 60px;
}

.how-to-start .title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
}

.line-img {
    width: 120px;
    height: 12px;
    text-align: left;
}

.how-to-start .title-container .line-img {
    text-align: left;
}


.how-to-start .title-container h2 {
    font-size: 32px;
    color: #5712A6;
}


.how-to-start-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 40px;
    width: 100%;
}

.how-to-start-container .hts-single {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 52px;
    width: 20%;
}

.how-to-start-container .hts-single .title {
    color: #5712A6;
    font-weight: bold;
    font-size: 26px;
}

.how-to-start-container .hts-single p {
    color: #82809C;
    font-size: 17px;
}


/* ====== how to start fim ====== */


.about-us {
    display: flex;
    align-items: center;
    margin: 160px 60px 0 0;
}

.about-us .img-container {
    width: 50%;
}

.about-us .img-container img {
    width: 100%;
}


.content-container {
    width: 50%;
}


.text-container {
    width: 100%;
    margin: 80px 0 40px 0;
}

.text-container p {
    font-size: 24px;
    padding: 6px 0;
}

.text-container p:last-child {
    margin-top: 22px;
}

.content-container a {
    font-size: 22px;
    color: #2678FA;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: ease 0.4s;
}

.content-container a:hover {
    opacity: 0.7;
}

/* ====== about-us fim ====== */


.services {
    display: flex;
    align-items: center;
    margin: 160px 0 0 120px;
}

.services-content {
    width: 60%;
}

.services-content h3 {
    color: #5712A6;
    font-size: 32px;
    margin: 60px 0 80px 0;
}


.services-text p {
    font-size: 22px;
    padding: 6px 0;

}

.services-text .special-char-container {
    display: flex;
    gap: 6px;
    align-items: baseline;
}

.services-text .special-char {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.services-text .special-char a {
    color: #5712A6;
    font-size: 22px;
    transition: ease 0.4s;
    font-weight: bold;
}

.services-text .special-char a:hover {
    opacity: 0.7;
}

.services-text .special-char img {
    width: 48px;
    height: 6px;
}

.services-text .features-link {
    font-size: 22px;
    color: #2678FA;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: ease 0.4s;
}


.services-text .features-link:hover {
    opacity: 0.7;
}

.services .img-container img {
    width: 100%;
}


/* ====== services fim ====== */


.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}


.download .background-download img {
    width: 100%;
}

.download-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 47%;
}

.download-container .download-text-container {
    margin: 50px 0;
}

.download-container P {
    color: #5712A6;
    font-size: 28px;
    font-weight: bold;
}

.download-container .btn-container {
    display: flex;
    gap: 28px;
}

.download-container .btn-container img {
    width: 150px;
}

/* ====== download fim ====== */


.register {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 160px auto;
    gap: 200px;
}

.register-single p {
    font-size: 36px;
    color: #5712A6;
    font-weight: bold;
}

.register .line-img {
    margin-top: 56px;
    width: 150px;
}


/* ====== register fim ====== */



footer {
    width: 100%;
    padding: 100px 100px 0 100px;
    background: url('/assets/img/fundo-footer-teste-programador.png.jpg');
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 50px;
    width: 1200px;
    margin: 80px auto;
}

.footer-container .first-column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-container .first-column span {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: ease 0.4s;
}

.footer-container .first-column span:hover {
    opacity: 0.8;
}


.footer-container h4 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 32px;
}

.footer-container .column li {
    color: #fff;
    margin-top: 26px;
    transition: ease 0.4s;
    cursor: pointer;
}

.footer-container .column li:hover {
    opacity: 0.8;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    border-top: solid 1px #fff;
    padding: 32px 0;
}

.footer-social span {
    color: #fff;
    font-weight: bold;
}

.footer-social .social-container {
    display: flex;
    gap: 26px;

}

.footer-social .social-container li {
    transition: ease 0.4s;
    cursor: pointer;
}

.footer-social .social-container li:hover {
    transform: scale(1.2);
}


/* ====== animations ====== */

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


/* ====== media query ====== */

@media screen and (max-width: 1340px) {

    .footer-container,
    .footer-social {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .header-navigation {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        /* Start off-screen on the right */
        width: 300px;
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
        transition: all 0.5s ease;
        background-color: #5712A6;
    }

    .header-navigation.active {
        right: 0;
        /* Bring the menu into view */
        border-radius: 0;
    }

    .header-navigation ul {
        display: flex;
        flex-direction: column;
        gap: 44px;
        justify-content: center;
        align-items: center;
        padding: 44px 0;
    }

    .header-navigation li {
        list-style: none;
    }

    .header-navigation a {
        color: #fff;
    }

    .header-navigation.active {
        display: block;
        z-index: 1;
    }

    .header-login {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 32px;
        right: 20px;
        font-size: 24px;
        color: #82809C;
        z-index: 2;
    }

    .menu-icon.active {
        color: #fff;
    }

    .no-scroll {
        overflow: hidden;
    }
}